language: python
python:
- 2.7
- 3.6
env:
- TOXENV=django111
- TOXENV=django20
matrix:
  exclude:
  - python: 2.7
    env: TOXENV=django20
  include:
  - python: 3.6
    env: TOXENV=quality
  - python: 3.6
    env: TOXENV=docs
  - python: 3.6
    env: TOXENV=pii_check
cache:
- pip
before_install:
- pip install --upgrade pip
install:
- pip install -r requirements/travis.txt
script:
- tox
after_success:
- codecov
deploy:
  provider: pypi
  user: edx
  distributions: sdist bdist_wheel
  on:
    tags: true
    condition: "$TOXENV = quality"
  password:
    secure: fqghurmaw5AV4v5e8udqjAhAppWax9cIof2nkKjVREIxURLuaAESFHg40fvA7q6eHsvZoXf34HIoFw2s7HBMe3dtYo4i+wY4JsMYyBPUGV3koSJe3ODwlx8A1IRv2i/WCDtfoFS8jZdeu02OQ6LHbf2P+Kmv3cX5qVCUez+E9bTBniPIqMd9MdA7bN5ft6BYcQttbxvK7sPRJ7Gkv+zKQdXjMpH/v9jjK5f4rAAtqHICymDrwurU7l01964TLTyyHKnB5kZNaTVc/nLMlU1gHSnO5wS7i3BJuzpI/2rjiIIaZJgQJA3U1wj5hHm0R9X7Bo4RSDv5i9Lrf6TPhArqORf6Nk5iLbMPRCCdUV99HkbV6rGJU8DjKFxdnbyBgQlAlQ0rSl0kx2pjtgcMk4JPez/E8JTpruj/J001MvmoK8KoceCIelDDNQRrUYwPldyUv8eB5GSttmtWWXiedHZwk/iyhLknEKCK8jt2s2H4OGlxaXppBSVMRJBJ8ylUpYfFcxwIiHp7A0tYgxUBSmWxGcx0iowrVwQ2AQxzAykd07au7Yt3ge2YI3tEtm6dvHXj/fYi3iuukCv+Nj853JbGN2sfBssmpfOmJEG0ezwQgVKcc19+6RB+CH1YfBnMqR1xPB5D8+EMUHPbPI0akgfXSM1133EJ1KUoG5pSDe8h804=
